@charset "UTF-8";

:root {
   --color-01: #ed1b1b;
   --color-02: #2369e3;
   --color-03: #063d1e;
   --color-04: #3fb873;
   --color-05: #171d19;

   --font-padrao: 'Inter', Arial, sans-serif;
   --font-secundaria: Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: auto;
   font-family: var(--font-padrao);
}