@charset "UTF-8";

:root {
   --color-01: #F28705;
   --color-02: #F29F05;
   --color-03: #F2B705;
   --color-04: #1F2126;
   --color-05: #17181D;

   --font-padrao: 'Inter', Arial, sans-serif;
   --font-secundaria: Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: auto;
   font-family: var(--font-padrao);
}

/* ! TEMP */
img {
   width: 100px;
}